* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 50px;
    color: #333;
}

.sesaw-container {
    position: relative;
    width: 650px;
    height: 300px;
    margin: 0 auto;
}

.sesaw-plank {
    position: absolute;
    width: 600px;
    height: 16px;
    background-color: #8B4513;
    top: 130px;
    left: 25px;
    border-radius: 4px;
}

.sesaw-fulcrum {
    position: absolute;
    top: 146px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid #666;
}
