* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 50px;
    color: #333;
}

.seesaw-container {
    position: relative;
    width: 650px;
    height: 300px;
    margin: 0 auto;
}

.seesaw-plank {
    position: absolute;
    width: 600px;
    height: 16px;
    background-color: #8B4513;
    top: 130px;
    left: 25px;
    border-radius: 4px;
    transform-origin: center center;
}

.seesaw-fulcrum {
    position: absolute;
    top: 138px;    /* plank top(130) + height(16)/2 = 138 */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid #666;
}

.weight-object {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #e74c3c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    transform: translateX(-50%);
}
